.container {
  color: #321970;
  max-width: 1000px;
  margin: 30px auto;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  padding: 12px;
}
.App h1.title {
  text-align: center;
  padding: 20px;
  margin: 0;
}
