.Weather h2.header {
  padding: 15px;
  margin: 0;
}
.Weather h3 {
  text-align: center;
}

.Weather .location-search {
  border-radius: 4px;
}

.Weather .search-button {
  background-color: #e6b6e5;
  border-radius: 4px;
}
.Weather .search-button:hover {
  background-color: #321970;
  color: #d60ed3;
  cursor: pointer;
  transition: 200ms;
}
.Weather .searched-city {
  padding: 22px;
}
.Weather .temperature-description-box {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}
.Weather .transparency {
  background-color: transparent;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .nowTemp {
  font-size: 20px;
}
